:root{
    --heigh-header-bar: 46px;
}

/* Mobile */

#header-moblie{
    height: var(--heigh-header-bar);
    background-color: #000;
    font-size: 15px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display:none;
}

#header-moblie .unshow-header-mobile{
    display: flex;
    justify-content: space-between;
}

.unshow-header-mobile .header-mobile__icon{
    font-weight: 900;
    color: #fff;
    line-height: var(--heigh-header-bar);
    padding: 0 30px;
}


#header-moblie .show-header-mobile{
    background-color: #000;
    font-size: 15px;
    position: fixed;
    top: var(--heigh-header-bar);
    right: 0;
    left: 0;
    z-index: 1;
    display: none;
    flex-direction: column;
}

.show-header-mobile .nav-mobile__content{
    line-height: var(--heigh-header-bar);
    padding: 0 30px;
    color: #fff;
    text-transform: uppercase;
}

.header-mobile__icon:hover{
    background-color: #f44336;
}

.content-mobile__extend > li:hover,
.nav-mobile__content:hover{
    color: #000;
    background-color: #ccc;
}

.content-mobile__extend li{
    padding: 0 40px;
}

.content-mobile__extend{
    display: none;
    background-color: #000;
    color: #fff;
    box-shadow: rgb(204, 204, 204) 0px 4px 10px 1px;
    list-style-type: none;
    width: 100%;
    position: absolute;
    margin-left: -30px;
    text-transform: capitalize;
    padding: 0px;
    list-style-type: none;
}

.nav-mobile__content--holding:hover .content-mobile__extend{
    display: block;
}

.showMenuClick{
    display: flex !important;
}

@media (max-width: 1023px) and (min-width: 740px) {
    .contact-main,
    .content__places-list,
    .content--discription{
        padding: 0 16px;
    }
}

@media (max-width: 739px){
    #header{
        display: none;
    }

    #header-moblie{
        display: block;
    }

    .contact-main{
        flex-direction: column;
        gap: 32px;
        margin: 0 16px;
    }
    .content__members-list{
        flex-direction: column;
        gap: 32px;
    }

    #contact .send__in-row1{
        flex-direction: column;
        gap: 8px;
    }

    .content__places-list{
        padding: 0 16px;
        flex-direction: column;
        gap: 16px;
    }
    .content__places-list .place-item{
        width: 100%;
    }

    .content--discription{
        padding: 0 16px;
    }

    .content__members-list .member-item--img{
        width: 300px;
        height: 320px;
    }

    #contact .btn-interact__btn-send{
        padding: 8px 40px;
        float: none;
    }
}